@model IEnumerable<OnlineStore.Models.EF_data.tb_OrderDetail>
@if (Model != null && Model.Any())
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.tb_Product.Title</td>
                    <td>@OnlineStore.Common.Common.FormatNumber(item.tb_Product.Price, 0) đ</td>
                    <td>@item.Quantity</td>
                    <td>@OnlineStore.Common.Common.FormatNumber((item.Price * item.Quantity), 0) đ</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
